pochita_sa/migrations/__pycache__/
core/migrations/__pycache__/
veterinarios/migrations/__pycache__/
horarios/migrations/__pycache__/
fichas_mascota/migrations/__pycache__/
pochita_sa/__pycache__/
core/__pycache__/
veterinarios/__pycache__/
horarios/__pycache__/
fichas_mascota/__pycache__/
