{% extends 'core/base.html' %}

{% block content %}

<div class="container">

    <div class="row text-center mb-3 x-5">
        {% if notificaciones.es_recepcionista %}
        <button class="btn btn-warning text-center col-1">
            <a class="nav-link" href="/horarios/notificaciones">Notifs: {{ notificaciones.num }}</a>
        </button>
        {% endif %}
    </div>

    <form class="form-control text-center" method="get" action="">
        <div class="container row">
            <div class="col-3">
                <label for="fecha">Fecha:</label>
                <input type="text" id="fecha" name="fecha" class="form-control" autocomplete="off" placeholder="dd/mm/aaaa"
                    min="{{fecha_min.year}}-{{fecha_min.month}}-1"
                    max="{{fecha_max.year}}-{{fecha_max.month}}-{{fecha_max.day}}"
                >
            </div>
            <div class="col-4">
                <select name="veterinario" id="veterinario">
                    <option value="">Todos</option>
                    {% for vet in veterinarios %}
                        <option value="{{ vet.id }}">{{ vet.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <button class="btn btn-primary col-1">Ir</button>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Cliente</th>
                <th>Veterinario</th>
                <th>Mascota</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for cita in citas %}
            <tr>
                <td></td>
                <td>{{ cita.ficha_cliente.cliente }}</td>
                <td>{{ cita.veterinario.nombre }}</td>
                <td>{{ cita.ficha_cliente.mascota }}</td>
                <td>{{ cita.fecha }}</td>
                <td>{{ cita.hora_inicial_a_tiempo }}</td>
                <td>{{ cita.estado }}</td>
                <td>
                    {% if vet_loggeado.id == cita.veterinario.id and cita.estado == "pendiente" %}
                    <a href="{% url 'eliminar_cita' cita.id %}" 
                        class="btn btn-sm btn-danger">
                        Cancelar
                    </a>
                    {% elif vet_loggeado.id == cita.veterinario.id %}
                    <button class="btn btn-sm btn-dark" disabled>
                        {{ cita.estado|capfirst }}
                    </button>
                    {% else %}
                    <button class="btn btn-sm btn-secondary" disabled>
                        Sin acción
                    </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.es.min.js">
</script>

<script>
$(function() {
    $('#fecha').datepicker({
        format: 'dd/mm/yyyy',
        language: 'es',
        autoclose: true
    });
});
</script>

{% endblock %}